body h2 {
  padding-left: 20px;
  padding-bottom: 15px;
}

body form {
  padding-left: 20px;
  padding-bottom: 15px;
}

.signup__link li {
  padding-left: 20px;
}

.signup__link li a {
  transition: all 0.3s ease 0s;
}

.signup__link li a:hover {
  color: #0088a9;
}

.ARI{
  background-color: pink;
}