<!doctype html>
<html xmlns:th="https://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../Static/css/menu.css" th:href="@{/css/menu.css}">
  <link rel="stylesheet" href="../Static/css/index.css" th:href="@{/css/index.css}">
  <title>Sack Overflow</title>
</head>

<body>
  <header>
    <h1>Sack Overflow</h1>
    <nav>
      <ul class="nav__links">
        <li>
            <a href="/SackOverflow">Home</a>
        </li>
        <li>
            <a href="/players">Players</a>
                <p>
                    <span th:text="${allplayers}"></span>
                </p>
        </li>
        <li><a href="/Teams">Teams</a>
            <p> <span th:text="${allTeams}"></span> </p>
        </li>
        <li><a href="/Games">Games</a></li>
        <li><a href="/Login">Login</a></li>
      </ul>
    </nav>
  </header>
  <h2>Sack Overflow</h2>
  <div>
      <ul>
          <li>
              <a href="/getAllTeams"> Team List </a>
              <p> <span th:text="${allTeams}"></span> </p>
          </li>

      </ul>
  </div>
</body>

</html>
