<!doctype html>
<html xmlns:th="https://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link href="../Static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" />
  <link href="../Static/css/players.css" th:href="@{/css/players.css}" rel="stylesheet" />
  <title>Players</title>
</head>

<body>
  <header>
    <h1>Sack Overflow</h1>
    <nav>
      <ul class="nav__links">
        <li><a href="index.html">Home</a></li>
        <li><a href="players.html">Players</a></li>
        <li><a href="teams.html">Teams</a></li>
        <li><a href="games.html">Games</a></li>
        <li><a href="login.html">Login</a></li>
      </ul>
    </nav>
  </header>
  <h2>Players</h2>

</body>

</html>
