<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Sack Overflow</h2>
<div>
    <ul>
        <li>
            <a href="/getAllTeams"> Team List </a>
            <p> <span th:text="${allTeams}"></span> </p>
        </li>
        <li>
            <a href="/getAllPlayers"> Player List </a>
            <p> <span th:text="${allPlayers}"></span> </p>
        </li>
    </ul>
</div>

<div>
    <ul>
        <li>ARI</li>
        <li>ATL</li>
        <li>BAL</li>
        <li>BUF</li>
        <li>CAR</li>
        <li>CHI</li>
        <li>CIN</li>
        <li>CLE</li>
        <li>DAL</li>
        <li>DEN</li>
        <li>DET</li>
        <li>GB</li>
        <li>HOU</li>
        <li>IND</li>
        <li>JAX</li>
        <li>KC</li>
        <li>MIA</li>
        <li>MIN</li>
        <li>NE</li>
        <li>NO</li>
        <li>NYG</li>
        <li>NYJ</li>
        <li>OAK</li>
        <li>PHI</li>
        <li>PIT</li>
        <li>SD</li>
        <li>SEA</li>
        <li>SF</li>
        <li>STL</li>
        <li>TB</li>
        <li>TEN</li>
        <li>WAS</li>
    </ul>
</div>
</body>
</html>
